NEW.S.2018.Masarnouski.05/.vs/NEW.S.2018.Masarnouski.05/v15/Server/sqlite3/db.lock
NEW.S.2018.Masarnouski.05/.vs/NEW.S.2018.Masarnouski.05/v15/Server/sqlite3/storage.ide
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05/Properties/AssemblyInfo.cs
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05/obj/Debug/NEW.S.2018.Masarnouski.05.csproj.FileListAbsolute.txt
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05/bin/Debug/NEW.S.2018.Masarnouski.05.exe.config
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/obj/project.assets.json
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/obj/NEW.S.2018.Masarnouski.05.Tests.csproj.nuget.g.targets
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/obj/NEW.S.2018.Masarnouski.05.Tests.csproj.nuget.g.props
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/obj/Debug/netcoreapp2.0/NEW.S.2018.Masarnouski.05.Tests.csproj.FileListAbsolute.txt
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/obj/Debug/netcoreapp2.0/NEW.S.2018.Masarnouski.05.Tests.csproj.CopyComplete
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/obj/Debug/netcoreapp2.0/NEW.S.2018.Masarnouski.05.Tests.Program.cs
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/obj/Debug/netcoreapp2.0/NEW.S.2018.Masarnouski.05.Tests.AssemblyInfo.cs
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/bin/Debug/netcoreapp2.0/nunit_random_seed.tmp
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/bin/Debug/netcoreapp2.0/NEW.S.2018.Masarnouski.05.exe.config
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/bin/Debug/netcoreapp2.0/NEW.S.2018.Masarnouski.05.Tests.runtimeconfig.json
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/bin/Debug/netcoreapp2.0/NEW.S.2018.Masarnouski.05.Tests.runtimeconfig.dev.json
NEW.S.2018.Masarnouski.05/NEW.S.2018.Masarnouski.05.Tests/bin/Debug/netcoreapp2.0/NEW.S.2018.Masarnouski.05.Tests.deps.json
